:root {
  font-family: Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #272c28;
  --content-width: 50%;
  --black: #1E1E1E;
  --grey: #777777;
  --white: #ffffffca;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8%;
  max-width: var(--content-width);
  min-width: var(--content-width);
  font-size: 2.5em;
  font-weight: 100;
  line-height: 0.1;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */

}

h2 {
  display: flex;
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portWelcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: var(--content-width);
}

.aboutMe{
  min-width: var(--content-width);
  max-width: var(--content-width);
}

.portList {
  max-width: var(--content-width);
}

.portList__name {
  font-size: 1.7em;
  /* font-weight: bold; */
}

#comingSoon {
  font-size: 1.15em;
  opacity: 0.5;
}

p {
  font-size: 1.5em;
}

ul {
  padding-inline-start: 5%;
  padding-inline-end: 3%;
  overflow-y: scroll;
  max-height: 400px;
  background-color: #17171736;
  border-radius: 3%;
  /* border-left: 8px double rgb(107, 107, 107) */
}

a {
  color: rgb(178, 160, 143);
}


#app {
  max-width: fit-content;
}

/* dark mode */
/* provides fading, very subtle */
div.switcher.switcher-1 input {
  transition: 0.25s -0.1s;
} 
div.switcher.switcher-1 input:checked:before {
  color: var(--white);
  transition: color 0.5s -0.2s;
}
/* provides a fading background */
div.switcher.switcher-1 input:not(:checked) {
  background: var(--black);
  transition: 0.5s -0.1s;
}
/* defines the inner moving shape */
div.switcher {
  position: relative;
  width: 150px;
  height: 40px;
  border-radius: 25px;
}
div.switcher label {
  z-index: 1;
  position: absolute;
  top: 10px;
  bottom: 5px;
  border-radius: 20px;
}
/* defines outer shape */
div.switcher input {
  appearance: none;
  position: relative;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--black);
  outline: none;
  font-family: Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* defines light/dark text position/color */
div.switcher input:before,
div.switcher input:after {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
}
/* defines existance of light/dark text respectively  */
div.switcher input:before {
  content: 'Light';
  left: 20px;
}
div.switcher input:after {
  content: 'Dark';
  right: 20px;
}
/* defines outer shape color from default black to white after "checked" (light<--dark) */
div.switcher.switcher-1 input:checked {
  background-color: var(--white);
}
/* defines inner shape color from light<--dark */
div.switcher.switcher-1 input:checked + label {
  left: 15px;
  right: 90px;
  background: var(--black);
  transition: left 0.5s, right 0.4s 0.2s;
}
/* changes 'Dark' text to grey during light */
div.switcher.switcher-1 input:checked:after {
  color: var(--grey);
  transition: color 0.5s;
}
/* changes 'Light' text to grey during dark */
div.switcher.switcher-1 input:not(:checked):before {
  color: var(--grey);
  transition: color 0.5s;
}
/* changes 'Dark' text to black during dark */
div.switcher.switcher-1 input:not(:checked):after {
  color: var(--black);
  transition: color 0.5s 0.2s;
}
/* defines inner shape color from light-->dark */
div.switcher.switcher-1 input:not(:checked) + label {
  left: 100px;
  right: 10px;
  background: var(--white);
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
}
/* dark mode */


@media (prefers-color-scheme: light) {
  :root {
    color: #5E2D00;
    background-color: #FFEACB;
  }
  button {
    background-color: #f9f9f9;
  }
  a {
    color: #005812;
  }
  ul {
    background-color: #ffffff5d;
  }
}

@media (max-width: 600px){
  :root{
    --content-width: 75%
  }
}