:root {
  font-family: Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #272c28;
  --content-width: 50%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8%;
  max-width: var(--content-width);
  min-width: var(--content-width);
  font-size: 2.5em;
  font-weight: 100;
  line-height: 0.1;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */

}

h2 {
  display: flex;
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portWelcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: var(--content-width);
}

.aboutMe{
  min-width: var(--content-width);
  max-width: var(--content-width);
}

.portList {
  max-width: var(--content-width);
}

.portList__name {
  font-size: 1.7em;
  /* font-weight: bold; */
}

#comingSoon {
  font-size: 1.15em;
  opacity: 0.5;
}

p {
  font-size: 1.5em;
}

ul {
  padding-inline-start: 5%;
  overflow-y: scroll;
  max-height: 400px;
  background-color: #17171736;
  border-radius: 3%;
  /* border-left: 8px double rgb(107, 107, 107) */
}

a {
  color: rgb(178, 160, 143);
}


#app {
  max-width: fit-content;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #5E2D00;
    background-color: #FFEACB;
  }
  button {
    background-color: #f9f9f9;
  }
  a {
    color: #272c28;
  }
}

@media (max-width: 600px){
  :root{
    --content-width: 75%
  }
}