:root {
  font-family: Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #272c28;

  /* all for the light/dark toggle */
  --black: #1E1E1E;
  --grey: #777777;
  --white: #ffffffca;

  font-synthesis: none; /*keeps browser from synthesizing italic/bold styling for fonts that don't have their own*/
  text-rendering: optimizeLegibility; /*tells browser to make text more readible with spacing (between words and chars)*/
  -webkit-font-smoothing: antialiased; /*smooths out jagged, digital lines into fading ones, specifically for the browser engine WebKit (Safari)*/
  -moz-osx-font-smoothing: grayscale; /*similar thing but for firefox*/
}

body {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 8%;
  font-size: 2.7em;
  font-weight: 100;
  line-height: 0.1;
}

h2 {
  display: flex;
  font-size: 1.7em;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

@media (prefers-color-scheme: light) {
  :root {
    color: #5E2D00;
    background-color: #FFEACB;
  }
  button {
    background-color: #f9f9f9;
  }
  a {
    color: #005812;
  }
  ul {
    background-color: #ffffff5d;
  }
}

@media (max-width: 600px){
  body {
    max-width: 75%;
    margin: 0 auto;
  }
}